/.DS_Store
/.idea
/nbproject/
/composer.phar
/composer.lock
/app/cache/
/app/logs/
/app/config/parameters.yml
/app/Resources/java/
/app/Resources/SymforceAdminBundle/src/AppAdminCache/
/app/Resources/SymforceAdminBundle/translations/*.yaml
/app/Resources/views/
/app/upload/
/bin/doctrine
/vendor/
/web/assets/
/web/dev.php
*~