/.DS_Store
/.idea
/nbproject/
/composer.phar
/composer.lock
/app/cache/
/app/logs/
/app/config/parameters.yml
/app/Resources/java/
/app/Resources/SymforceAdminCache/
/app/Resources/SymforceAnnotation/
/app/Resources/SymforceEvent/
/app/Resources/SymforceAdminBundle/translations/*.yaml
/app/Resources/views/
/bin/doctrine
/bin/security-checker
/symforce/
/vendor/
/web/assets/
/web/bundles/
/web/dev.php
*~