/.idea
/.DS_Store
/nbproject/
/composer.phar
/app/cache/
/app/logs/
/app/config/parameters.yml
/app/Resources/java/
/app/Resources/AppAdminBundle/src/AppAdminCache/
/app/Resources/AppAdminBundle/translations/*.yaml
/app/Resources/views/
/app/upload/
/bin/doctrine
/vendor/
/web/assets/
/web/dev.php
/composer.lock
*~