parameters:
    database_driver:   pdo_mysql
    database_host:     127.0.0.1
    database_port:     ~
    database_name:     symforce_demo
    database_user:     root
    database_password: ~

    mailer_transport:  smtp
    mailer_host:       127.0.0.1
    mailer_port: 25
    mailer_user:       ~
    mailer_password:   ~
    mailer_delivery_address: dev@example.com
    mailer_sender_address: %mailer_delivery_address%
    mailer_sender_name: %sf.admin.brand%

    locale:            en
    secret:            ThisTokenIsNotSoSecretChangeIt

    assetic.java_path: "/usr/bin/java"
    assetic.node_path: "/usr/bin/node"
    assetic.node_paths: [ "/usr/lib/node_modules/" ]
    assetic.bundles: [ "SymforceAdminBundle", "SymforceUserBundle", "FOSMessageBundle", "FOSUserBundle" ]
    assetic.use_controller:     %kernel.debug%

    web_profiler.use_toolbar:          false
    web_profiler.use_redirects:        false

    sf.brand: Brand
    sf.version: 0

    sf.web_user:  git
    sf.web_group: git
    sf.web_root_dir: %kernel.root_dir%/../web
    sf.web_base_dir: ""
    sf.web_assets_dir: %sf.web_base_dir%/assets
    sf.web_assets_target_dirs: [ "css", "fonts", "img", "images" ]
    sf.web_admin_dir: %sf.web_base_dir%/admin
    sf.web_domain: localhost:8000
    sf.web_host: http://%sf.web_domain%

    sf.admin.brand: Brand Admin
    sf.admin.title: Brand Admin Panel
    sf.admin.debug: false
